In [4]:
import numpy as np
import pandas as pd
import psycopg2

In [7]:
DB_NAME = 'banco'
DB_USER = 'tecandres'
DB_PASSWORD = 'A6hNm+#mJMw6xKTN'
DB_PORT = 5432
DB_HOST = 'banco-db.cnelrr1vhuaq.us-east-1.rds.amazonaws.com'

## Creando Driver
postgres_driver = "postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME)


data_transacciones = [
     {'id_tipo_transac': 85095, 'tipo_transaccion': 'Dep贸ito'}, 
     {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'},
     {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'},
     {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}
]

df_transacciones = pd.DataFrame(data_transacciones)
df_transacciones

   id_tipo_transac tipo_transaccion
0            85095          Dep贸ito
1            85098           Retiro
2            85194    Transferencia
3            85133    Pago Prestamo

In [11]:
df_transacciones.to_sql('tipo_transacciones', postgres_driver,index=False,if_exists='append')

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "tipo_transacciones_pkey"
DETAIL:  Key (id_tipo_transac)=(85095) already exists.

[SQL: INSERT INTO tipo_transacciones (id_tipo_transac, tipo_transaccion) VALUES (%(id_tipo_transac)s, %(tipo_transaccion)s)]
[parameters: ({'id_tipo_transac': 85095, 'tipo_transaccion': 'Dep贸ito'}, {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'}, {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'}, {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)