In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import datetime
import boto3
import botocore
import pprint
import psycopg2
import configparser

import sql_queries

#### Iniciación de Variables

In [2]:
cantidad_clientes = np.random.randint(500, 1000) #cantidad de clientes a crear
rdsIdentifier = 'banco-db-v1' #nombre de la instancia
fake = Faker() #inicialización para creación de data random

#### Cargamos archivo de configuraciones

In [17]:
config = configparser.ConfigParser()
config.read('escec.cfg')

['escec.cfg']

### Creamos Instancia de RDS

In [18]:
aws_conn = boto3.client('rds', aws_access_key_id=config.get('IAM', 'ACCESS_KEY'),
                     aws_secret_access_key=config.get('IAM', 'SECRET_ACCESS_KEY'),
                     region_name='us-east-1')

#### Verificamos Instancias de RDS disponibles

In [20]:
rdsInstanceIds = []

response = aws_conn.describe_db_instances()
for resp in response['DBInstances']:
    rdsInstanceIds.append(resp['DBInstanceIdentifier'])
    db_instance_status = resp['DBInstanceStatus']

print(f"DBInstanceIds {rdsInstanceIds}")

DBInstanceIds ['banco-db']

#### Creación de Servicio RDS

In [21]:
try:
    response = aws_conn.create_db_instance(
            AllocatedStorage=10,
            DBName=config.get('RDS', 'DB_NAME'),
            DBInstanceIdentifier=rdsIdentifier,
            DBInstanceClass="db.t3.micro",
            Engine="postgres",
            MasterUsername=config.get('RDS', 'DB_USER'),
            MasterUserPassword=config.get('RDS', 'DB_PASSWORD'),
            Port=int(config.get('RDS', 'DB_PORT')),
            VpcSecurityGroupIds=["sg-0f6ce64d4649109a1", "sg-0f6ce64d4649109a1"],
            PubliclyAccessible=True
        )
    pprint.pprint (response)
except aws_conn.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La Instancia de Base de Datos ya Existe.")

{'DBInstance': {'AllocatedStorage': 10,
                'AssociatedRoles': [],
                'AutoMinorVersionUpgrade': True,
                'BackupRetentionPeriod': 1,
                'BackupTarget': 'region',
                'CACertificateIdentifier': 'rds-ca-2019',
                'CopyTagsToSnapshot': False,
                'CustomerOwnedIpEnabled': False,
                'DBInstanceArn': 'arn:aws:rds:us-east-1:682923381990:db:banco-db-v1',
                'DBInstanceClass': 'db.t3.micro',
                'DBInstanceIdentifier': 'banco-db-v1',
                'DBInstanceStatus': 'creating',
                'DBName': 'banco',
                'DBParameterGroups': [{'DBParameterGroupName': 'default.postgres14',
                                       'ParameterApplyStatus': 'in-sync'}],
                'DBSecurityGroups': [],
                'DBSubnetGroup': {'DBSubnetGroupDescription': 'default',
                                  'DBSubnetGroupName': 'default',
                                  'SubnetGroupStatus': 'Complete',
                                  'Subnets': [{'SubnetAvailabilityZone': {'Name': 'us-east-1e'},
                                               'SubnetIdentifier': 'subnet-088af1fe0f4a065f1',
                                               'SubnetOutpost': {},
                                               'SubnetStatus': 'Active'},
                                              {'SubnetAvailabilityZone': {'Name': 'us-east-1b'},
                                               'SubnetIdentifier': 'subnet-0b2d47dc066ea4d59',
                                               'SubnetOutpost': {},
                                               'SubnetStatus': 'Active'},
                                              {'SubnetAvailabilityZone': {'Name': 'us-east-1c'},
                                               'SubnetIdentifier': 'subnet-01f48f5344bf8efcb',
                                               'SubnetOutpost': {},
                                               'SubnetStatus': 'Active'},
                                              {'SubnetAvailabilityZone': {'Name': 'us-east-1a'},
                                               'SubnetIdentifier': 'subnet-04f5d1584c5f79e0e',
                                               'SubnetOutpost': {},
                                               'SubnetStatus': 'Active'},
                                              {'SubnetAvailabilityZone': {'Name': 'us-east-1f'},
                                               'SubnetIdentifier': 'subnet-03fce28a20a28b30c',
                                               'SubnetOutpost': {},
                                               'SubnetStatus': 'Active'},
                                              {'SubnetAvailabilityZone': {'Name': 'us-east-1d'},
                                               'SubnetIdentifier': 'subnet-066873414dcb1aa41',
                                               'SubnetOutpost': {},
                                               'SubnetStatus': 'Active'}],
                                  'VpcId': 'vpc-00d9ae75aa03c62df'},
                'DbInstancePort': 0,
                'DbiResourceId': 'db-5QUR32F6IPMXAUF7QHBNHBASY4',
                'DeletionProtection': False,
                'DomainMemberships': [],
                'Engine': 'postgres',
                'EngineVersion': '14.6',
                'IAMDatabaseAuthenticationEnabled': False,
                'LicenseModel': 'postgresql-license',
                'MasterUsername': 'tecandres',
                'MonitoringInterval': 0,
                'MultiAZ': False,
                'NetworkType': 'IPV4',
                'OptionGroupMemberships': [{'OptionGroupName': 'default:postgres-14',
                                            'Status': 'in-sync'}],
                'PendingModifiedValues': {'MasterUserPassword': '****'},
                'PerformanceInsightsEnabled': False,
                'PreferredBackupWindow': '10:11-10:41',
                'PreferredMaintenanceWindow': 'mon:06:35-mon:07:05',
                'PubliclyAccessible': True,
                'ReadReplicaDBInstanceIdentifiers': [],
                'StorageEncrypted': False,
                'StorageType': 'gp2',
                'TagList': [],
                'VpcSecurityGroups': [{'Status': 'active',
                                       'VpcSecurityGroupId': 'sg-0f6ce64d4649109a1'}]},
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '5155',
                                      'content-type': 'text/xml',
                                      'date': 'Tue, 21 Mar 2023 00:38:33 GMT',
                                      'strict-transport-security': 'max-age=31536000',
                                      'x-amzn-requestid': '497bc43a-da37-469f-b509-525cef552af2'},
                      'HTTPStatusCode': 200,
                      'RequestId': '497bc43a-da37-469f-b509-525cef552af2',
                      'RetryAttempts': 0}}

##### Recordemos Esperar unos minutos para consultar la informaicón de la instancia.

##### Obtenemos URL del Host

In [24]:
try:
     instances = aws_conn.describe_db_instances(DBInstanceIdentifier=rdsIdentifier)
     RDS_HOST = instances.get('DBInstances')[0].get('Endpoint').get('Address')
     print(RDS_HOST)
except Exception as ex:
     print("La instancia de base de datos no existe o aun no se ha terminado de crear.")
     print(ex)

banco-db-v1.cnelrr1vhuaq.us-east-1.rds.amazonaws.com

In [25]:
import sql_queries
print(sql_queries.DDL_QUERY)

CREATE TABLE IF NOT EXISTS tipo_transacciones(
    id_tipo_transac INT PRIMARY KEY,
    tipo_transaccion VARCHAR(15) UNIQUE
);

CREATE TABLE IF NOT EXISTS divisas(
    id_divisa INT PRIMARY KEY,
    nombre_divisa VARCHAR(15) UNIQUE,
    simbolo VARCHAR(2) UNIQUE
);

CREATE TABLE IF NOT EXISTS tipo_documentos(
    id_tipo_documento INT PRIMARY KEY,
    nombre_tipo_documento VARCHAR(15) UNIQUE
);

CREATE TABLE IF NOT EXISTS documentos(
    id_documento INT PRIMARY KEY,
    nombre_documento VARCHAR(50),
    uri_documento VARCHAR(100),
    fecha_hora_emision TIMESTAMP,
    tipo_documento INT,

    CONSTRAINT fk_tipo_documento
        FOREIGN KEY (tipo_documento)
            REFERENCES tipo_documentos(id_tipo_documento)

);

CREATE TABLE IF NOT EXISTS generos(
    id_genero INT PRIMARY KEY,
    genero VARCHAR(10) UNIQUE
);

CREATE TABLE IF NOT EXISTS sectores(
    id_sector INT PRIMARY KEY,
    nombre VARCHAR(50) UNIQUE,
    latitud DOUBLE PRECISION,
    longitud DOUBLE PRECISION
);

CREATE TABLE IF NOT EXISTS direcciones(
    id_direccion INT PRIMARY KEY,
    no_casa VARCHAR(15),
    avenida VARCHAR(50),
    calle VARCHAR(50),
    zona INT,
    id_sector INT,

    CONSTRAINT fk_direccion_sector
        FOREIGN KEY (id_sector)
            REFERENCES sectores(id_sector)
);

CREATE TABLE IF NOT EXISTS cargos(
    id_cargo INT PRIMARY KEY,
    titulo_cargo VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS colaboradores(
    id_colaborador INT PRIMARY KEY,
    nombre VARCHAR(30),
    apellido VARCHAR(30),
    id_cargo INT,

    CONSTRAINT fk_cargo_colaborador
        FOREIGN KEY (id_cargo)
            REFERENCES cargos(id_cargo)
);

CREATE TABLE IF NOT EXISTS sucursales(
    id_sucursal INT PRIMARY KEY,
    nombre VARCHAR(50) UNIQUE,
    id_gerente INT,

    CONSTRAINT fk_sucursal_colaborador
        FOREIGN KEY (id_gerente)
            REFERENCES colaboradores(id_colaborador)
);

CREATE TABLE IF NOT EXISTS tipos_cuentas(
    id_tipo_cuenta INT PRIMARY KEY,
    tipo_cuenta VARCHAR(15) UNIQUE
);

CREATE TABLE IF NOT EXISTS tarjetas(
    id_tarjeta INT PRIMARY KEY,
    nombre VARCHAR(50),
    vencimiento TIMESTAMP
);

CREATE TABLE IF NOT EXISTS cuentas(
    id_cuenta INT PRIMARY KEY,
    nombre_cuenta VARCHAR(75),
    id_tipo_cuenta INT,
    no_tarjeta INT,

    CONSTRAINT fk_cuentas_tipo_cuentas
        FOREIGN KEY (id_tipo_cuenta)
            REFERENCES tipos_cuentas(id_tipo_cuenta),

    CONSTRAINT fk_cuentas_tarjeta
        FOREIGN KEY (no_tarjeta)
            REFERENCES tarjetas(id_tarjeta)
);

CREATE TABLE IF NOT EXISTS clientes(
    id_cliente INT PRIMARY KEY,
    nombre VARCHAR(100),
    apellido VARCHAR(100),
    correo VARCHAR(100),
    fecha_nacimiento DATE,
    telefono VARCHAR(20),
    id_direccion INT,
    id_genero INT,

    CONSTRAINT fk_clientes_generos
        FOREIGN KEY (id_genero)
            REFERENCES generos(id_genero),

    CONSTRAINT fk_cliente_direccion
        FOREIGN KEY (id_direccion)
            REFERENCES direcciones(id_direccion)
);

CREATE TABLE IF NOT EXISTS cuentas_clientes(
    id_cuenta INT,
    id_cliente INT,
    fecha_creacion TIMESTAMP,
    balance DOUBLE PRECISION,

    CONSTRAINT pk_cuentas_clientes
        PRIMARY KEY (id_cuenta, id_cliente),

    CONSTRAINT fk_cuentas_clientes
        FOREIGN KEY (id_cuenta)
            REFERENCES cuentas(id_cuenta),

    CONSTRAINT fk_clientes_cuetnas
        FOREIGN KEY (id_cliente)
            REFERENCES clientes(id_cliente)
);

CREATE TABLE IF NOT EXISTS cuentas(
    id_cuentas INT PRIMARY KEY,
    nombre_cuenta VARCHAR(50),
    id_tipo_cuenta INT,
    id_no_tarjeta INT,

    CONSTRAINT fk_cuentas_tipoCuentas
        FOREIGN KEY (id_tipo_cuenta)
            REFERENCES tipos_cuentas(id_tipo_cuenta),

    CONSTRAINT fk_cuentas_noTarjeta
        FOREIGN KEY (id_no_tarjeta)
            REFERENCES tarjetas(id_tarjeta)
);


CREATE TABLE IF NOT EXISTS transacciones(
    id_transaccion INT PRIMARY KEY,
    fecha_hora TIMESTAMP,
    monto DOUBLE PRECISION,
    no_confirmacion INT UNIQUE,

    id_tipo_transaccion INT,
    id_divisa INT,
    id_cliente INT,
    id_documento_respaldo INT,
    id_sucursal INT,
    id_colaborador INT,
    id_cuenta_origen INT,
    id_cuenta_destino INT,

    CONSTRAINT fk_tipo_transaccion_transaccion
        FOREIGN KEY (id_tipo_transaccion)
            REFERENCES tipo_transacciones(id_tipo_transac),

    CONSTRAINT fk_tipo_divisa_transaccion
        FOREIGN KEY (id_divisa)
            REFERENCES divisas(id_divisa),

    CONSTRAINT fk_cliente_transaccion
        FOREIGN KEY (id_cliente)
            REFERENCES clientes(id_cliente),

    CONSTRAINT fk_documento_transaccion
        FOREIGN KEY (id_documento_respaldo)
            REFERENCES documentos(id_documento),

    CONSTRAINT fk_sucursal_transaccion
        FOREIGN KEY (id_sucursal)
            REFERENCES sucursales(id_sucursal),

    CONSTRAINT fk_colaborador_transaccion
        FOREIGN KEY (id_colaborador)
            REFERENCES colaboradores(id_colaborador),

    CONSTRAINT fk_cuentaOrigen_transaccion
        FOREIGN KEY (id_cuenta_origen)
            REFERENCES cuentas(id_cuenta),

    CONSTRAINT fk_cuentaDestino_transaccion
        FOREIGN KEY (id_cuenta_destino)
            REFERENCES cuentas(id_cuenta)
);

SELECT * FROM tipo_transacciones;
SELECT * FROM divisas;

##### Conexión a Base de Datos desde Python

In [26]:
import sql_queries

try:
    db_conn = psycopg2.connect(
        database=config.get('RDS', 'DB_NAME'), 
        user=config.get('RDS', 'DB_USER'),
        password=config.get('RDS', 'DB_PASSWORD'), 
        host=RDS_HOST,
        port=config.get('RDS', 'DB_PORT')
    )

    cursor = db_conn.cursor()
    cursor.execute(sql_queries.DDL_QUERY)
    db_conn.commit()
    print("Base de Datos Creada Exitosamente")
except Exception as ex:
    print("ERROR: Error al crear la base de datos.")
    print(ex)

Base de Datos Creada Exitosamente

##### Insertamos Datos en la Tabla de Transacciones

In [27]:
    #driver de conexión para insert desde pandas.

def insertDataToSQL(data_dict, table_name):
     postgres_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""    
     df_data = pd.DataFrame.from_records(data_dict)
     try:
          response = df_data.to_sql(table_name, postgres_driver, index=False, if_exists='append')
          print(f'Se han insertado {response} nuevos registros.' )
     except Exception as ex:
          print(ex)

In [28]:
data_tipo_transaciones = [
     {'id_tipo_transac': 85095, 'tipo_transaccion': 'Depóito'}, 
     {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'},
     {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'},
     {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}
]

#insertamos data en tabla tipo_transaccione 
insertDataToSQL(data_tipo_transaciones, 'tipo_transacciones')

Se han insertado 4 nuevos registros.

##### Insertamos Datos en la Tabla de Divisas

#### Insertamos Data para Divisas

In [29]:
data_divisas = [
     {'id_divisa': 103589, 'nombre_divisa': 'Quetzales', 'simbolo': 'Q'}, 
     {'id_divisa': 114589, 'nombre_divisa': 'Dolares', 'simbolo': '$'},
     {'id_divisa': 125487, 'nombre_divisa': 'Euros', 'simbolo': '€'}
]

insertDataToSQL(data_divisas, 'divisas')

Se han insertado 3 nuevos registros.

##### Insertamos Data para tipo_documentos

In [30]:
data_tipo_documentos = [
     {'id_tipo_documento': 103589, 'nombre_tipo_documento': 'Recibo'}, 
     {'id_tipo_documento': 114589, 'nombre_tipo_documento': 'Cheque'},
     {'id_tipo_documento': 125487, 'nombre_tipo_documento': 'Contrato 101' }
]

insertDataToSQL(data_tipo_documentos, 'tipo_documentos')

Se han insertado 3 nuevos registros.

##### Insertamos Data para Generos

In [31]:
data_generos = [
     {'id_genero': 2002, 'genero': 'Maculino'}, 
     {'id_genero': 2003, 'genero': 'Femenino'}
]

insertDataToSQL(data_generos, 'generos')

Se han insertado 2 nuevos registros.

##### Insertamos Data para Sectores

In [32]:
data_sectores = [
    {'id_sector': 58974, 'nombre': 'Centro', 'latitud': 90.5689, 'longitud': 91.5687},
    {'id_sector': 58978, 'nombre': 'Centro Sur', 'latitud': 90.5981, 'longitud': 91.56878},
    {'id_sector': 58998, 'nombre': 'Centro Norte', 'latitud': 90.59875, 'longitud': 91.59897},
    {'id_sector': 58784, 'nombre': 'Sur Este', 'latitud': 90.78785, 'longitud': 91.4578},
    {'id_sector': 78786, 'nombre': 'Norte Este', 'latitud': 90.5689, 'longitud': 91.5687},
    {'id_sector': 56565, 'nombre': 'Sur Oeste', 'latitud': 90.4412, 'longitud': 91.9897},
    {'id_sector': 58889, 'nombre': 'Norte Oeste', 'latitud': 90.78745, 'longitud': 91.78897}
]
insertDataToSQL(data_sectores, 'sectores')

Se han insertado 7 nuevos registros.

##### Insertamos Data para Direcciones

In [33]:
data_direcciones = []

for index, direccion in enumerate(range(cantidad_clientes)):
    sector_random = random.sample(data_sectores,1)
    nueva_direccion = {
          'id_direccion': index,
          'no_casa': str(np.random.randint(1, 99)) + '-' + str(np.random.randint(1, 99)),
          'avenida': np.random.randint(1, 45),
          'calle':np.random.randint(1, 50),
          'zona':np.random.randint(1, 21),
          'id_sector' : sector_random[0]['id_sector']
    }

    data_direcciones.append(nueva_direccion)

insertDataToSQL(data_direcciones, 'direcciones')

Se han insertado 640 nuevos registros.

##### Insertamos Data para Clientes

In [35]:
data_clientes = []
data_direcciones_copy = data_direcciones.copy()

for cliente in range(cantidad_clientes):
    clientProfile = fake.profile()
    direccion_random = random.sample(data_direcciones_copy, 1)
    data_direcciones_copy.remove(direccion_random[0])

    nuevo_cliente = {
        'id_cliente': random.randint(10000000, 99999999),
        'nombre': clientProfile['name'].split(' ')[0],
        'apellido': clientProfile['name'].split(' ')[1],
        'correo': clientProfile['mail'],
        'fecha_nacimiento': clientProfile['birthdate'],
        'telefono': clientProfile['ssn'],
        'id_direccion': direccion_random[0]['id_direccion'],
        'id_genero': data_generos[0]['id_genero'] if(clientProfile['sex'] == 'M') else data_generos[1]['id_genero'] 
    }

    data_clientes.append(nuevo_cliente)

insertDataToSQL(data_clientes, 'clientes')

Se han insertado 640 nuevos registros.

##### Insertamos Data de Cargos

In [36]:
data_cargos = [
    {'id_cargo': 101, 'titulo_cargo': 'Cajero - Receptor'},
    {'id_cargo': 202, 'titulo_cargo': 'Gerente de Sucursal'},
    {'id_cargo': 302, 'titulo_cargo': 'Supervisor de Sector'}
]
insertDataToSQL(data_cargos, 'cargos')

Se han insertado 3 nuevos registros.

##### Insertamos Data de Colaboradores

In [37]:
cantidad_colaboradores = np.random.randint(50, 150)
data_colaboradores = []

for colab in range(cantidad_colaboradores):
    colaboradorProfile = fake.profile()
    nuevo_colaborador = {
        'id_colaborador': random.randint(10000, 99999),
        'nombre': colaboradorProfile['name'].split(' ')[0],
        'apellido': colaboradorProfile['name'].split(' ')[1], 
        'id_cargo': random.choices(data_cargos, weights=(0.6, 0.3, 0.1),  k=1)[0]['id_cargo']
    }

    data_colaboradores.append(nuevo_colaborador)
insertDataToSQL(data_colaboradores, 'colaboradores')

Se han insertado 102 nuevos registros.

##### Insertamos Data de Sucursales

In [40]:
managers = [colaborator for colaborator in data_colaboradores if colaborator['id_cargo'] == 202]
cantidad_sucursales =  len(managers)
managers_copy = managers.copy()
data_sucursales = []

for sucursal in range(cantidad_sucursales):
    #seleccionamos gerente para sucursal
    manager = random.sample(managers_copy, 1)[0]
    managers_copy.remove(manager)

    #seleccionamos sector.
    sector_random = random.sample(data_sectores,1)[0]['id_sector']
    
    #nombre de la sucursal
    sucursal_profile = fake.profile()
    nombre_sucursal = sucursal_profile['residence'].split('\n')[0]
    nombre_sucursal = ''.join([i for i in nombre_sucursal if not i.isdigit()]).strip()

    nueva_sucursal = {
        'id_sucursal': np.random.randint(180000, 190000),
        'nombre': nombre_sucursal,
        'id_sector': sector_random,
        'id_gerente': manager['id_colaborador']
    }

    data_sucursales.append(nueva_sucursal)

insertDataToSQL(data_sucursales, 'sucursales')

(psycopg2.errors.UndefinedColumn) column "id_sector" of relation "sucursales" does not exist
LINE 1: INSERT INTO sucursales (id_sucursal, nombre, id_sector, id_g...
                                                     ^

[SQL: INSERT INTO sucursales (id_sucursal, nombre, id_sector, id_gerente) VALUES (%(id_sucursal)s, %(nombre)s, %(id_sector)s, %(id_gerente)s)]
[parameters: ({'id_sucursal': 184376, 'nombre': 'Hill Mall', 'id_sector': 58889, 'id_gerente': 24259}, {'id_sucursal': 186282, 'nombre': 'Adam Meadow', 'id_sector': 58784, 'id_gerente': 54022}, {'id_sucursal': 187077, 'nombre': 'David Field Suite', 'id_sector': 58974, 'id_gerente': 29248}, {'id_sucursal': 186903, 'nombre': 'Hart Estate Apt.', 'id_sector': 58784, 'id_gerente': 57849}, {'id_sucursal': 182883, 'nombre': 'Cummings Crescent Suite', 'id_sector': 58889, 'id_gerente': 31267}, {'id_sucursal': 189687, 'nombre': 'Rogers Mount', 'id_sector': 58784, 'id_gerente': 43733}, {'id_sucursal': 186953, 'nombre': 'Brown Fork Suite', 'id_sector': 58889, 'id_gerente': 53501}, {'id_sucursal': 188985, 'nombre': 'Kristina Light', 'id_sector': 58998, 'id_gerente': 11945}  ... displaying 10 of 24 total bound parameter sets ...  {'id_sucursal': 182812, 'nombre': 'Caleb Ports Suite', 'id_sector': 58784, 'id_gerente': 81227}, {'id_sucursal': 188724, 'nombre': 'Jerry Ridge Apt.', 'id_sector': 78786, 'id_gerente': 99366})]
(Background on this error at: https://sqlalche.me/e/14/f405)

##### Insertamos Datos de tipo_cuentas

In [ ]:
data_tipoCuentas = [
    {'id_tipo_cuenta': 90025, 'tipo_cuenta': 'Monetaria Quetzales'},
    {'id_tipo_cuenta': 90026, 'tipo_cuenta': 'Monetaria Dolares'},
    {'id_tipo_cuenta': 90036, 'tipo_cuenta': 'Ahorro Quetzales'},
    {'id_tipo_cuenta': 90078, 'tipo_cuenta': 'Ahorro Dolares'},
    {'id_tipo_cuenta': 90044, 'tipo_cuenta': 'Cheques Quetzales'},
    {'id_tipo_cuenta': 90019, 'tipo_cuenta': 'Cheques Dolares'}
]
insertDataToSQL(data_tipoCuentas, 'tipos_cuentas')

##### Insertamos Data para Cuentas

In [ ]:
data_cuentas = []
df_data_clientes = pd.DataFrame.from_records(data_clientes)

for idnex, df_row in df_data_clientes.iterrows():
     nombre_cuenta = df_row['nombre'] + ' ' + df_row['apellido']
     nueva_cuenta = {
          'id_cuenta' : np.random.randint(1000000, 9999999),
          'nombre_cuenta' : nombre_cuenta,
          'id_tipo_cuenta': random.sample(data_tipoCuentas, 1)[0]['id_tipo_cuenta'],
          'balance': round(random.uniform(100, 1000), 2)
     }

     data_cuentas.append(nueva_cuenta)
insertDataToSQL(data_cuentas, 'cuentas')

##### Insertamos Data de Transacciones

In [ ]:
cantidad_transacciones = np.random.randint(100000, 999999)
data_transacciones = []

for transac in range(cantidad_transacciones):
    nueva_transaccion = {
            'id_transaccion': np.random.randint(100000, 9999999),
            'fecha_hora': fake.date_time_this_year(),
            'monto': round(random.uniform(1000, 10000), 2),
            'id_tipo_transaccion': random.sample(data_tipo_transaciones, 1)[0]['id_tipo_transac'],
            'id_divisa':  random.sample(data_divisas, 1)[0]['id_divisa'],
            'id_cliente': random.sample(data_clientes, 1)[0]['id_cliente'],
            'id_sucursal': random.sample(data_sucursales, 1)[0]['id_sucursal'],
            'id_colaborador': random.sample(data_colaboradores, 1)[0]['id_colaborador'],
            'id_documento_respaldo': random.sample(data_tipo_documentos, 1)[0]['id_tipo_documento'],
            'id_cuenta_origen' : random.sample(data_cuentas, 1)[0]['id_cuenta'],
            'id_cuenta_destino':random.sample(data_cuentas, 1)[0]['id_cuenta']
        }
    
    data_transacciones.append(nueva_transaccion)
    
insertDataToSQL(data_transacciones, 'transacciones')