In [12]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import datetime
import boto3
import psycopg2
import configparser
import pymysql

#### Iniciación de Variables

In [13]:
cantidad_clientes = np.random.randint(500, 1000) #cantidad de clientes a crear
rdsIdentifier = 'travel' #nombre de la instancia
fake = Faker() #inicialización para creación de data random

#### Cargamos archivo de configuraciones

In [14]:
config = configparser.ConfigParser()
config.read('escec.cfg')

['escec.cfg']

### Creamos Instancia de RDS

In [15]:
aws_conn = boto3.client('rds', aws_access_key_id=config.get('IAM', 'ACCESS_KEY'),
                    aws_secret_access_key=config.get('IAM', 'SECRET_ACCESS_KEY'),
                    region_name='us-east-1')

#### Verificamos Instancias de RDS disponibles

In [16]:
rdsInstanceIds = []

response = aws_conn.describe_db_instances()
for resp in response['DBInstances']:
    rdsInstanceIds.append(resp['DBInstanceIdentifier'])
    db_instance_status = resp['DBInstanceStatus']

print(f"DBInstanceIds {rdsInstanceIds}")

DBInstanceIds ['banco-db', 'travel']

#### Creación de Servicio RDS

In [17]:
try:
    response = aws_conn.create_db_instance(
            AllocatedStorage=10,
            DBName=config.get('RDS', 'DB_NAME'),
            DBInstanceIdentifier=rdsIdentifier,
            DBInstanceClass="db.t3.micro",
            Engine="postgres",
            MasterUsername=config.get('RDS', 'DB_USER'),
            MasterUserPassword=config.get('RDS', 'DB_PASSWORD'),
            Port=int(config.get('RDS', 'DB_PORT')),
            VpcSecurityGroupIds=[config.get('VPC', 'SECURITY_GROUP')],
            PubliclyAccessible=True
        )
    print(response)
except aws_conn.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La Instancia de Base de Datos ya Existe.")

La Instancia de Base de Datos ya Existe.

##### Recordemos Esperar unos minutos para consultar la informaicón de la instancia.

##### Obtenemos URL del Host

In [20]:
try:
     instances = aws_conn.describe_db_instances(DBInstanceIdentifier=rdsIdentifier)
     RDS_HOST = instances.get('DBInstances')[0].get('Endpoint').get('Address')
     print(RDS_HOST)
except Exception as ex:
     print("La instancia de base de datos no existe o aun no se ha terminado de crear.")
     print(ex)

travel.cnelrr1vhuaq.us-east-1.rds.amazonaws.com

##### Conexión a Base de Datos desde Python

In [23]:
import sql_queries


try:
    db_conn = psycopg2.connect(
        database=config.get('RDS', 'DB_NAME'), 
        user=config.get('RDS', 'DB_USER'),
        password=config.get('RDS', 'DB_PASSWORD'), 
        host=RDS_HOST,
        port=config.get('RDS', 'DB_PORT')
    )

    cursor = db_conn.cursor()
    cursor.execute(sql_queries.DDL_QUERY)
    db_conn.commit()
    print("Base de Datos Creada Exitosamente")
except Exception as ex:
    print("ERROR: Error al crear la base de datos.")
    print(ex)

SyntaxError: invalid syntax (sql_queries.py, line 1)

##### Insertamos Datos en la Tabla de Transacciones

In [38]:
def insertDataToSQL(data_dict, table_name):
    #postgres_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""    
    mysql_driver = f"""mysql+pymysql://{config.get('RDS_MYSQL', 'DB_USER')}:{config.get('RDS_MYSQL', 'DB_PASSWORD')}@{RDS_DW_HOST}:{config.get('RDS_MYSQL', 'DB_PORT')}/{config.get('RDS_MYSQL', 'DB_NAME')}"""  
    #df_data = pd.DataFrame.from_records(data_dict)
     try:
          response = df_data.to_sql(table_name, postgres_driver, index=False, if_exists='append')
          print(f'Se han insertado {response} nuevos registros.' )
     except Exception as ex:
          print(ex)

In [39]:
data_tipo_transaciones = [
     {'id_tipo_transac': 85095, 'tipo_transaccion': 'Depóito'}, 
     {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'},
     {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'},
     {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}
]

#insertamos data en tabla tipo_transaccione 
insertDataToSQL(data_tipo_transaciones, 'tipo_transacciones')

Se han insertado 4 nuevos registros.

##### Insertamos Datos en la Tabla de Divisas

#### Insertamos Data para Divisas

In [40]:
data_divisas = [
     {'id_divisa': 103589, 'nombre_divisa': 'Quetzales', 'simbolo': 'Q'}, 
     {'id_divisa': 114589, 'nombre_divisa': 'Dolares', 'simbolo': '$'},
     {'id_divisa': 125487, 'nombre_divisa': 'Euros', 'simbolo': '€'}
]

insertDataToSQL(data_divisas, 'divisas')

Se han insertado 3 nuevos registros.

##### Insertamos Data para tipo_documentos

In [41]:
data_tipo_documentos = [
     {'id_tipo_documento': 103589, 'nombre_tipo_documento': 'Recibo'}, 
     {'id_tipo_documento': 114589, 'nombre_tipo_documento': 'Cheque'},
     {'id_tipo_documento': 125487, 'nombre_tipo_documento': 'Contrato 101' }
]

insertDataToSQL(data_tipo_documentos, 'tipo_documentos')

Se han insertado 3 nuevos registros.

##### Insertamos Data para Generos

In [42]:
data_generos = [
     {'id_genero': 2002, 'genero': 'Maculino'}, 
     {'id_genero': 2003, 'genero': 'Femenino'}
]

insertDataToSQL(data_generos, 'generos')

Se han insertado 2 nuevos registros.

##### Insertamos Data para Sectores

In [43]:
data_sectores = [
    {'id_sector': 58974, 'nombre': 'Centro', 'latitud': 90.5689, 'longitud': 91.5687},
    {'id_sector': 58978, 'nombre': 'Centro Sur', 'latitud': 90.5981, 'longitud': 91.56878},
    {'id_sector': 58998, 'nombre': 'Centro Norte', 'latitud': 90.59875, 'longitud': 91.59897},
    {'id_sector': 58784, 'nombre': 'Sur Este', 'latitud': 90.78785, 'longitud': 91.4578},
    {'id_sector': 78786, 'nombre': 'Norte Este', 'latitud': 90.5689, 'longitud': 91.5687},
    {'id_sector': 56565, 'nombre': 'Sur Oeste', 'latitud': 90.4412, 'longitud': 91.9897},
    {'id_sector': 58889, 'nombre': 'Norte Oeste', 'latitud': 90.78745, 'longitud': 91.78897}
]
insertDataToSQL(data_sectores, 'sectores')

Se han insertado 7 nuevos registros.

##### Insertamos Data para Direcciones

In [44]:
data_direcciones = []

for index, direccion in enumerate(range(cantidad_clientes)):
    sector_random = random.sample(data_sectores,1)
    nueva_direccion = {
          'id_direccion': index,
          'no_casa': str(np.random.randint(1, 99)) + '-' + str(np.random.randint(1, 99)),
          'avenida': np.random.randint(1, 45),
          'calle':np.random.randint(1, 50),
          'zona':np.random.randint(1, 21),
          'id_sector' : sector_random[0]['id_sector']
    }

    data_direcciones.append(nueva_direccion)
insertDataToSQL(data_direcciones, 'direcciones')

Se han insertado 987 nuevos registros.

##### Insertamos Data para Clientes

In [45]:
data_clientes = []
data_direcciones_copy = data_direcciones.copy() #copia por valor.

for cliente in range(cantidad_clientes):
    clientProfile = fake.profile()
    direccion_random = random.sample(data_direcciones_copy, 1)
    data_direcciones_copy.remove(direccion_random[0])
    nuevo_cliente = {
        'id_cliente': random.randint(10000000, 99999999),
        'nombre': clientProfile['name'].split(' ')[0],
        'apellido': clientProfile['name'].split(' ')[1],
        'correo': clientProfile['mail'],
        'fecha_nacimiento': clientProfile['birthdate'],
        'telefono': clientProfile['ssn'],
        'id_direccion': direccion_random[0]['id_direccion'],
        'id_genero': data_generos[0]['id_genero'] if(clientProfile['sex'] == 'M') else data_generos[1]['id_genero'] 
    }

    data_clientes.append(nuevo_cliente)

insertDataToSQL(data_clientes, 'clientes')

Se han insertado 987 nuevos registros.

##### Insertamos Data de Cargos

In [46]:
data_cargos = [
    {'id_cargo': 101, 'titulo_cargo': 'Cajero - Receptor'},
    {'id_cargo': 202, 'titulo_cargo': 'Gerente de Sucursal'},
    {'id_cargo': 303, 'titulo_cargo': 'Supervisor de Sector'}
]
insertDataToSQL(data_cargos, 'cargos')

Se han insertado 3 nuevos registros.

##### Insertamos Data de Colaboradores

In [47]:
cantidad_colaboradores = np.random.randint(50, 150)
data_colaboradores = []

for colab in range(cantidad_colaboradores):
    colaboradorProfile = fake.profile()
    nuevo_colaborador = {
        'id_colaborador': random.randint(10000, 99999),
        'nombre': colaboradorProfile['name'].split(' ')[0],
        'apellido': colaboradorProfile['name'].split(' ')[1], 
        'id_cargo': random.choices(data_cargos, weights=(0.6, 0.3, 0.1),  k=1)[0]['id_cargo']
    }

    data_colaboradores.append(nuevo_colaborador)
insertDataToSQL(data_colaboradores, 'colaboradores')

Se han insertado 63 nuevos registros.

##### Insertamos Data de Sucursales

In [48]:
managers = [colaborator for colaborator in data_colaboradores if colaborator['id_cargo'] == 202]
cantidad_sucursales =  len(managers)
managers_copy = managers.copy()
data_sucursales = []

for sucursal in range(cantidad_sucursales):
    #seleccionamos gerente para sucursal
    manager = random.sample(managers_copy, 1)[0]
    managers_copy.remove(manager)

    #seleccionamos sector.
    sector_random = random.sample(data_sectores,1)[0]['id_sector']
    
    #nombre de la sucursal
    sucursal_profile = fake.profile()
    nombre_sucursal = sucursal_profile['residence'].split('\n')[0]
    nombre_sucursal = ''.join([i for i in nombre_sucursal if not i.isdigit()]).strip()

    nueva_sucursal = {
        'id_sucursal': np.random.randint(180000, 190000),
        'nombre': nombre_sucursal,
        'id_sector': sector_random,
        'id_gerente': manager['id_colaborador']
    }

    data_sucursales.append(nueva_sucursal)

insertDataToSQL(data_sucursales, 'sucursales')

Se han insertado 15 nuevos registros.

##### Insertamos Datos de tipo_cuentas

In [49]:
data_tipoCuentas = [
    {'id_tipo_cuenta': 90025, 'tipo_cuenta': 'Monetaria Quetzales'},
    {'id_tipo_cuenta': 90026, 'tipo_cuenta': 'Monetaria Dolares'},
    {'id_tipo_cuenta': 90036, 'tipo_cuenta': 'Ahorro Quetzales'},
    {'id_tipo_cuenta': 90078, 'tipo_cuenta': 'Ahorro Dolares'},
    {'id_tipo_cuenta': 90044, 'tipo_cuenta': 'Cheques Quetzales'},
    {'id_tipo_cuenta': 90019, 'tipo_cuenta': 'Cheques Dolares'}
]
insertDataToSQL(data_tipoCuentas, 'tipos_cuentas')

Se han insertado 6 nuevos registros.

##### Insertamos Data para Cuentas

In [50]:
data_cuentas = []
df_data_clientes = pd.DataFrame.from_records(data_clientes)

for idnex, df_row in df_data_clientes.iterrows():
     nombre_cuenta = df_row['nombre'] + ' ' + df_row['apellido']
     nueva_cuenta = {
          'id_cuenta' : np.random.randint(1000000, 9999999),
          'nombre_cuenta' : nombre_cuenta,
          'id_tipo_cuenta': random.sample(data_tipoCuentas, 1)[0]['id_tipo_cuenta'],
          'balance': round(random.uniform(100, 1000), 2)
     }

     data_cuentas.append(nueva_cuenta)
insertDataToSQL(data_cuentas, 'cuentas')

Se han insertado 987 nuevos registros.

##### Insertamos Data de Transacciones

In [52]:
cantidad_transacciones = np.random.randint(100000, 999999)
data_transacciones = []

for transac in range(cantidad_transacciones):
    nueva_transaccion = {
            'id_transaccion': np.random.randint(100000, 9999999),
            'fecha_hora': fake.date_time_this_year(),
            'monto': round(random.uniform(1000, 10000), 2),
            'id_tipo_transaccion': random.sample(data_tipo_transaciones, 1)[0]['id_tipo_transac'],
            'id_divisa':  random.sample(data_divisas, 1)[0]['id_divisa'],
            'id_cliente': random.sample(data_clientes, 1)[0]['id_cliente'],
            'id_sucursal': random.sample(data_sucursales, 1)[0]['id_sucursal'],
            'id_colaborador': random.sample(data_colaboradores, 1)[0]['id_colaborador'],
            'id_documento_respaldo': random.sample(data_tipo_documentos, 1)[0]['id_tipo_documento'],
            'id_cuenta_origen' : random.sample(data_cuentas, 1)[0]['id_cuenta'],
            'id_cuenta_destino':random.sample(data_cuentas, 1)[0]['id_cuenta']
        }
    
    data_transacciones.append(nueva_transaccion)
    
insertDataToSQL(data_transacciones, 'transacciones')

(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "transacciones_pkey"
DETAIL:  Key (id_transaccion)=(1387514) already exists.

[SQL: INSERT INTO transacciones (id_transaccion, fecha_hora, monto, id_tipo_transaccion, id_divisa, id_cliente, id_sucursal, id_colaborador, id_documento_respaldo, id_cuenta_origen, id_cuenta_destino) VALUES (%(id_transaccion)s, %(fecha_hora)s, %(monto)s, %(id_tipo_transaccion)s, %(id_divisa)s, %(id_cliente)s, %(id_sucursal)s, %(id_colaborador)s, %(id_documento_respaldo)s, %(id_cuenta_origen)s, %(id_cuenta_destino)s)]
[parameters: ({'id_transaccion': 174093, 'fecha_hora': datetime.datetime(2023, 2, 14, 18, 49, 26), 'monto': 6224.65, 'id_tipo_transaccion': 85098, 'id_divisa': 103589, 'id_cliente': 86552167, 'id_sucursal': 186189, 'id_colaborador': 38587, 'id_documento_respaldo': 125487, 'id_cuenta_origen': 9499808, 'id_cuenta_destino': 4231921}, {'id_transaccion': 8758470, 'fecha_hora': datetime.datetime(2023, 2, 9, 7, 49, 43), 'monto': 7407.8, 'id_tipo_transaccion': 85095, 'id_divisa': 125487, 'id_cliente': 53368790, 'id_sucursal': 183599, 'id_colaborador': 43245, 'id_documento_respaldo': 103589, 'id_cuenta_origen': 4426010, 'id_cuenta_destino': 9501771}, {'id_transaccion': 9134201, 'fecha_hora': datetime.datetime(2023, 1, 4, 6, 11, 3), 'monto': 6023.24, 'id_tipo_transaccion': 85095, 'id_divisa': 114589, 'id_cliente': 17473719, 'id_sucursal': 187217, 'id_colaborador': 41404, 'id_documento_respaldo': 103589, 'id_cuenta_origen': 1670309, 'id_cuenta_destino': 9501771}, {'id_transaccion': 1862507, 'fecha_hora': datetime.datetime(2023, 1, 13, 5, 43, 53), 'monto': 9819.23, 'id_tipo_transaccion': 85098, 'id_divisa': 125487, 'id_cliente': 61594372, 'id_sucursal': 180571, 'id_colaborador': 81716, 'id_documento_respaldo': 103589, 'id_cuenta_origen': 1670309, 'id_cuenta_destino': 1827558}, {'id_transaccion': 9857916, 'fecha_hora': datetime.datetime(2023, 2, 28, 22, 16, 4), 'monto': 3885.81, 'id_tipo_transaccion': 85098, 'id_divisa': 125487, 'id_cliente': 75110201, 'id_sucursal': 181192, 'id_colaborador': 47176, 'id_documento_respaldo': 103589, 'id_cuenta_origen': 2306587, 'id_cuenta_destino': 4493577}, {'id_transaccion': 7083089, 'fecha_hora': datetime.datetime(2023, 3, 14, 19, 46, 42), 'monto': 2900.15, 'id_tipo_transaccion': 85095, 'id_divisa': 103589, 'id_cliente': 50202887, 'id_sucursal': 185682, 'id_colaborador': 81716, 'id_documento_respaldo': 114589, 'id_cuenta_origen': 2278532, 'id_cuenta_destino': 7584309}, {'id_transaccion': 2707928, 'fecha_hora': datetime.datetime(2023, 1, 17, 13, 29), 'monto': 8736.2, 'id_tipo_transaccion': 85133, 'id_divisa': 114589, 'id_cliente': 76044198, 'id_sucursal': 185682, 'id_colaborador': 45605, 'id_documento_respaldo': 125487, 'id_cuenta_origen': 4371042, 'id_cuenta_destino': 2474831}, {'id_transaccion': 6546711, 'fecha_hora': datetime.datetime(2023, 3, 17, 13, 7, 16), 'monto': 1415.23, 'id_tipo_transaccion': 85098, 'id_divisa': 103589, 'id_cliente': 72298000, 'id_sucursal': 185221, 'id_colaborador': 13087, 'id_documento_respaldo': 103589, 'id_cuenta_origen': 3443290, 'id_cuenta_destino': 5366269}  ... displaying 10 of 916671 total bound parameter sets ...  {'id_transaccion': 7505354, 'fecha_hora': datetime.datetime(2023, 2, 1, 21, 34, 49), 'monto': 9751.34, 'id_tipo_transaccion': 85194, 'id_divisa': 114589, 'id_cliente': 99936961, 'id_sucursal': 187046, 'id_colaborador': 79561, 'id_documento_respaldo': 103589, 'id_cuenta_origen': 8560854, 'id_cuenta_destino': 6349035}, {'id_transaccion': 6837812, 'fecha_hora': datetime.datetime(2023, 1, 21, 4, 8, 29), 'monto': 6481.01, 'id_tipo_transaccion': 85095, 'id_divisa': 114589, 'id_cliente': 84351906, 'id_sucursal': 185221, 'id_colaborador': 38587, 'id_documento_respaldo': 114589, 'id_cuenta_origen': 9345481, 'id_cuenta_destino': 4482899})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)