In [29]:
import pandas as pd
import numpy as np
from faker import Faker
import random
import datetime
import boto3
import botocore
import pprint
import psycopg2
import configparser

import sql_queries

#### Iniciación de Variables

In [30]:
cantidad_clientes = np.random.randint(500, 1000) #cantidad de clientes a crear
rdsIdentifier = 'banco-db-v1' #nombre de la instancia
fake = Faker() #inicialización para creación de data random

#### Cargamos archivo de configuraciones

In [31]:
config = configparser.ConfigParser()
config.read('escec.cfg')

['escec.cfg']

### Creamos Instancia de RDS

In [32]:
aws_conn = boto3.client('rds', aws_access_key_id=config.get('IAM', 'ACCESS_KEY'),
                     aws_secret_access_key=config.get('IAM', 'SECRET_ACCESS_KEY'),
                     region_name='us-east-1')

#### Verificamos Instancias de RDS disponibles

In [33]:
rdsInstanceIds = []

response = aws_conn.describe_db_instances()
for resp in response['DBInstances']:
    rdsInstanceIds.append(resp['DBInstanceIdentifier'])
    db_instance_status = resp['DBInstanceStatus']

print(f"DBInstanceIds {rdsInstanceIds}")

DBInstanceIds ['banco-db']

#### Creación de Servicio RDS

In [36]:
try:
    response = aws_conn.create_db_instance(
            AllocatedStorage=10,
            DBName=config.get('RDS', 'DB_NAME'),
            DBInstanceIdentifier=rdsIdentifier,
            DBInstanceClass="db.t3.micro",
            Engine="postgres",
            MasterUsername=config.get('RDS', 'DB_USER'),
            MasterUserPassword=config.get('RDS', 'DB_PASSWORD'),
            Port=int(config.get('RDS', 'DB_PORT')),
            VpcSecurityGroupIds=["sg-0f6ce64d4649109a1", "sg-0f6ce64d4649109a1"],
            PubliclyAccessible=True
        )
    pprint.pprint (response)
except aws_conn.exceptions.DBInstanceAlreadyExistsFault as ex:
    print("La Instancia de Base de Datos ya Existe.")

La Instancia de Base de Datos ya Existe.

##### Recordemos Esperar unos minutos para consultar la informaicón de la instancia.

##### Obtenemos URL del Host

In [37]:
try:
     instances = aws_conn.describe_db_instances(DBInstanceIdentifier=rdsIdentifier)
     RDS_HOST = instances.get('DBInstances')[0].get('Endpoint').get('Address')
     print(RDS_HOST)
except Exception as ex:
     print("La instancia de base de datos no existe o aun no se ha terminado de crear.")
     print(ex)

banco-db-v1.cnelrr1vhuaq.us-east-1.rds.amazonaws.com

In [38]:
import sql_queries
print(sql_queries.DDL_QUERY)

CREATE TABLE IF NOT EXISTS tipo_transacciones(
    id_tipo_transac INT PRIMARY KEY,
    tipo_transaccion VARCHAR(15) UNIQUE
);

CREATE TABLE IF NOT EXISTS divisas(
    id_divisa INT PRIMARY KEY,
    nombre_divisa VARCHAR(15) UNIQUE,
    simbolo VARCHAR(2) UNIQUE
);

CREATE TABLE IF NOT EXISTS tipo_documentos(
    id_tipo_documento INT PRIMARY KEY,
    nombre_tipo_documento VARCHAR(15) UNIQUE
);

CREATE TABLE IF NOT EXISTS documentos(
    id_documento INT PRIMARY KEY,
    nombre_documento VARCHAR(50),
    uri_documento VARCHAR(100),
    fecha_hora_emision TIMESTAMP,
    tipo_documento INT,

    CONSTRAINT fk_tipo_documento
        FOREIGN KEY (tipo_documento)
            REFERENCES tipo_documentos(id_tipo_documento)

);

CREATE TABLE IF NOT EXISTS generos(
    id_genero INT PRIMARY KEY,
    genero VARCHAR(10) UNIQUE
);

CREATE TABLE IF NOT EXISTS sectores(
    id_sector INT PRIMARY KEY,
    nombre VARCHAR(50) UNIQUE,
    latitud DOUBLE PRECISION,
    longitud DOUBLE PRECISION
);

CREATE TABLE IF NOT EXISTS direcciones(
    id_direccion INT PRIMARY KEY,
    no_casa VARCHAR(15),
    avenida VARCHAR(50),
    calle VARCHAR(50),
    zona INT,
    id_sector INT,

    CONSTRAINT fk_direccion_sector
        FOREIGN KEY (id_sector)
            REFERENCES sectores(id_sector)
);

CREATE TABLE IF NOT EXISTS cargos(
    id_cargo INT PRIMARY KEY,
    titulo_cargo VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS colaboradores(
    id_colaborador INT PRIMARY KEY,
    nombre VARCHAR(30),
    apellido VARCHAR(30),
    id_cargo INT,

    CONSTRAINT fk_cargo_colaborador
        FOREIGN KEY (id_cargo)
            REFERENCES cargos(id_cargo)
);

CREATE TABLE IF NOT EXISTS sucursales(
    id_sucursal INT PRIMARY KEY,
    nombre VARCHAR(50) UNIQUE,
    id_gerente INT,

    CONSTRAINT fk_sucursal_colaborador
        FOREIGN KEY (id_gerente)
            REFERENCES colaboradores(id_colaborador)
);

CREATE TABLE IF NOT EXISTS tipos_cuentas(
    id_tipo_cuenta INT PRIMARY KEY,
    tipo_cuenta VARCHAR(15) UNIQUE
);

CREATE TABLE IF NOT EXISTS tarjetas(
    id_tarjeta INT PRIMARY KEY,
    nombre VARCHAR(50),
    vencimiento TIMESTAMP
);

CREATE TABLE IF NOT EXISTS cuentas(
    id_cuenta INT PRIMARY KEY,
    nombre_cuenta VARCHAR(75),
    id_tipo_cuenta INT,
    no_tarjeta INT,

    CONSTRAINT fk_cuentas_tipo_cuentas
        FOREIGN KEY (id_tipo_cuenta)
            REFERENCES tipos_cuentas(id_tipo_cuenta),

    CONSTRAINT fk_cuentas_tarjeta
        FOREIGN KEY (no_tarjeta)
            REFERENCES tarjetas(id_tarjeta)
);

CREATE TABLE IF NOT EXISTS clientes(
    id_cliente INT PRIMARY KEY,
    nombre VARCHAR(100),
    apellido VARCHAR(100),
    correo VARCHAR(100),
    fecha_nacimiento DATE,
    telefono VARCHAR(20),
    id_direccion INT,
    id_genero INT,

    CONSTRAINT fk_clientes_generos
        FOREIGN KEY (id_genero)
            REFERENCES generos(id_genero),

    CONSTRAINT fk_cliente_direccion
        FOREIGN KEY (id_direccion)
            REFERENCES direcciones(id_direccion)
);

CREATE TABLE IF NOT EXISTS cuentas_clientes(
    id_cuenta INT,
    id_cliente INT,
    fecha_creacion TIMESTAMP,
    balance DOUBLE PRECISION,

    CONSTRAINT pk_cuentas_clientes
        PRIMARY KEY (id_cuenta, id_cliente),

    CONSTRAINT fk_cuentas_clientes
        FOREIGN KEY (id_cuenta)
            REFERENCES cuentas(id_cuenta),

    CONSTRAINT fk_clientes_cuetnas
        FOREIGN KEY (id_cliente)
            REFERENCES clientes(id_cliente)
);

CREATE TABLE IF NOT EXISTS cuentas(
    id_cuentas INT PRIMARY KEY,
    nombre_cuenta VARCHAR(50),
    id_tipo_cuenta INT,
    id_no_tarjeta INT,

    CONSTRAINT fk_cuentas_tipoCuentas
        FOREIGN KEY (id_tipo_cuenta)
            REFERENCES tipos_cuentas(id_tipo_cuenta),

    CONSTRAINT fk_cuentas_noTarjeta
        FOREIGN KEY (id_no_tarjeta)
            REFERENCES tarjetas(id_tarjeta)
);


CREATE TABLE IF NOT EXISTS transacciones(
    id_transaccion INT PRIMARY KEY,
    fecha_hora TIMESTAMP,
    monto DOUBLE PRECISION,
    no_confirmacion INT UNIQUE,

    id_tipo_transaccion INT,
    id_divisa INT,
    id_cliente INT,
    id_documento_respaldo INT,
    id_sucursal INT,
    id_colaborador INT,
    id_cuenta_origen INT,
    id_cuenta_destino INT,

    CONSTRAINT fk_tipo_transaccion_transaccion
        FOREIGN KEY (id_tipo_transaccion)
            REFERENCES tipo_transacciones(id_tipo_transac),

    CONSTRAINT fk_tipo_divisa_transaccion
        FOREIGN KEY (id_divisa)
            REFERENCES divisas(id_divisa),

    CONSTRAINT fk_cliente_transaccion
        FOREIGN KEY (id_cliente)
            REFERENCES clientes(id_cliente),

    CONSTRAINT fk_documento_transaccion
        FOREIGN KEY (id_documento_respaldo)
            REFERENCES documentos(id_documento),

    CONSTRAINT fk_sucursal_transaccion
        FOREIGN KEY (id_sucursal)
            REFERENCES sucursales(id_sucursal),

    CONSTRAINT fk_colaborador_transaccion
        FOREIGN KEY (id_colaborador)
            REFERENCES colaboradores(id_colaborador),

    CONSTRAINT fk_cuentaOrigen_transaccion
        FOREIGN KEY (id_cuenta_origen)
            REFERENCES cuentas(id_cuenta),

    CONSTRAINT fk_cuentaDestino_transaccion
        FOREIGN KEY (id_cuenta_destino)
            REFERENCES cuentas(id_cuenta)
);

SELECT * FROM tipo_transacciones;
SELECT * FROM divisas;

##### Conexión a Base de Datos desde Python

In [39]:
import sql_queries

try:
    db_conn = psycopg2.connect(
        database=config.get('RDS', 'DB_NAME'), 
        user=config.get('RDS', 'DB_USER'),
        password=config.get('RDS', 'DB_PASSWORD'), 
        host=RDS_HOST,
        port=config.get('RDS', 'DB_PORT')
    )

    cursor = db_conn.cursor()
    cursor.execute(sql_queries.DDL_QUERY)
    db_conn.commit()
    print("Base de Datos Creada Exitosamente")
except Exception as ex:
    print("ERROR: Error al crear la base de datos.")
    print(ex)

Base de Datos Creada Exitosamente

##### Insertamos Datos en la Tabla de Transacciones

In [40]:
    #driver de conexión para insert desde pandas.

def insertDataToSQL(data_dict, table_name):
     postgres_driver = f"""postgresql://{config.get('RDS', 'DB_USER')}:{config.get('RDS', 'DB_PASSWORD')}@{RDS_HOST}:{config.get('RDS', 'DB_PORT')}/{config.get('RDS', 'DB_NAME')}"""    
     df_data = pd.DataFrame.from_records(data_dict)
     try:
          response = df_data.to_sql(table_name, postgres_driver, index=False, if_exists='append')
          print(f'Se han insertado {response} nuevos registros.' )
     except Exception as ex:
          print(ex)

In [41]:
data_tipo_transaciones = [
     {'id_tipo_transac': 85095, 'tipo_transaccion': 'Depóito'}, 
     {'id_tipo_transac': 85098, 'tipo_transaccion': 'Retiro'},
     {'id_tipo_transac': 85194, 'tipo_transaccion': 'Transferencia'},
     {'id_tipo_transac': 85133, 'tipo_transaccion': 'Pago Prestamo'}
]

#insertamos data en tabla tipo_transaccione 
insertDataToSQL(data_tipo_transaciones, 'tipo_transacciones')

Se han insertado 4 nuevos registros.

##### Insertamos Datos en la Tabla de Divisas

#### Insertamos Data para Divisas

In [42]:
data_divisas = [
     {'id_divisa': 103589, 'nombre_divisa': 'Quetzales', 'simbolo': 'Q'}, 
     {'id_divisa': 114589, 'nombre_divisa': 'Dolares', 'simbolo': '$'},
     {'id_divisa': 125487, 'nombre_divisa': 'Euros', 'simbolo': '€'}
]

insertDataToSQL(data_divisas, 'divisas')

Se han insertado 3 nuevos registros.

##### Insertamos Data para tipo_documentos

In [43]:
data_tipo_documentos = [
     {'id_tipo_documento': 103589, 'nombre_tipo_documento': 'Recibo'}, 
     {'id_tipo_documento': 114589, 'nombre_tipo_documento': 'Cheque'},
     {'id_tipo_documento': 125487, 'nombre_tipo_documento': 'Contrato 101' }
]

insertDataToSQL(data_tipo_documentos, 'tipo_documentos')

Se han insertado 3 nuevos registros.

##### Insertamos Data para Generos

In [44]:
data_generos = [
     {'id_genero': 2002, 'genero': 'Maculino'}, 
     {'id_genero': 2003, 'genero': 'Femenino'}
]

insertDataToSQL(data_generos, 'generos')

Se han insertado 2 nuevos registros.

##### Insertamos Data para Sectores

In [45]:
data_sectores = [
    {'id_sector': 58974, 'nombre': 'Centro', 'latitud': 90.5689, 'longitud': 91.5687},
    {'id_sector': 58978, 'nombre': 'Centro Sur', 'latitud': 90.5981, 'longitud': 91.56878},
    {'id_sector': 58998, 'nombre': 'Centro Norte', 'latitud': 90.59875, 'longitud': 91.59897},
    {'id_sector': 58784, 'nombre': 'Sur Este', 'latitud': 90.78785, 'longitud': 91.4578},
    {'id_sector': 78786, 'nombre': 'Norte Este', 'latitud': 90.5689, 'longitud': 91.5687},
    {'id_sector': 56565, 'nombre': 'Sur Oeste', 'latitud': 90.4412, 'longitud': 91.9897},
    {'id_sector': 58889, 'nombre': 'Norte Oeste', 'latitud': 90.78745, 'longitud': 91.78897}
]
insertDataToSQL(data_sectores, 'sectores')

Se han insertado 7 nuevos registros.

##### Insertamos Data para Direcciones

In [46]:
data_direcciones = []

for index, direccion in enumerate(range(cantidad_clientes)):
    sector_random = random.sample(data_sectores,1)
    nueva_direccion = {
          'id_direccion': index,
          'no_casa': str(np.random.randint(1, 99)) + '-' + str(np.random.randint(1, 99)),
          'avenida': np.random.randint(1, 45),
          'calle':np.random.randint(1, 50),
          'zona':np.random.randint(1, 21),
          'id_sector' : sector_random[0]['id_sector']
    }

    data_direcciones.append(nueva_direccion)

insertDataToSQL(data_direcciones, 'direcciones')

Se han insertado 724 nuevos registros.

##### Insertamos Data para Clientes

In [ ]:
data_clientes = []
data_direcciones_copy = data_direcciones.copy()

for cliente in range(cantidad_clientes):
    clientProfile = fake.profile()
    direccion_random = random.sample(data_direcciones_copy, 1)
    data_direcciones_copy.remove(direccion_random[0])

    nuevo_cliente = {
        'id_cliente': random.randint(10000000, 99999999),
        'nombre': clientProfile['name'].split(' ')[0],
        'apellido': clientProfile['name'].split(' ')[1],
        'correo': clientProfile['mail'],
        'fecha_nacimiento': clientProfile['birthdate'],
        'telefono': clientProfile['ssn'],
        'id_direccion': direccion_random[0]['id_direccion'],
        'id_genero': data_generos[0]['id_genero'] if(clientProfile['sex'] == 'M') else data_generos[1]['id_genero'] 
    }

    data_clientes.append(nuevo_cliente)

insertDataToSQL(data_clientes, 'clientes')

##### Insertamos Data de Cargos

In [47]:
data_cargos = [
    {'id_cargo': 101, 'titulo_cargo': 'Cajero - Receptor'},
    {'id_cargo': 202, 'titulo_cargo': 'Gerente de Sucursal'},
    {'id_cargo': 302, 'titulo_cargo': 'Supervisor de Sector'}
]
insertDataToSQL(data_cargos, 'cargos')

Se han insertado 3 nuevos registros.

##### Insertamos Data de Colaboradores

In [48]:
cantidad_colaboradores = np.random.randint(50, 150)

for colab in range(cantidad_colaboradores):
    colaboradorProfile = fake.profile()
    nuevo_colaborador = {
        'id_colaborador': random.randint(1000, 9999),
        'nombre': colaboradorProfile['name'].split(' ')[0],
        'apellido': colaboradorProfile['name'].split(' ')[1], 
        'id_cargo' : random.sample(data_cargos, 1)
    }

In [49]:
direccion_random = random.sample(data_direcciones,1)
data_direcciones.remove(direccion_random[0])
direccion_random[0]['id_direccion']

653

In [51]:
clientProfile

print(apellido)

NameError: name 'clientProfile' is not defined

In [ ]:
transaccion = {
    'id_tipo_tranaccion':  random.randint(101, 111),
    'fecha':  fake.date_between_dates(datetime.date(2020, 1, 1), datetime.date(2022, 12, 31)),
    'hora': datetime.time(random.randint(0, 23), random.randint(0, 60), random.randint(0, 60)),
    'monto': random.uniform(1000, 1000000),
    'no_confirmacion': random.randint(100000, 999999),
    'id_divisa': random.randint(2001, 2003)
}

In [52]:
transaccion

NameError: name 'transaccion' is not defined